/* Estilos da Vitrine de Produtos */
.vitrine {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
}

.card {
    width: 220px;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card p {
    color: #252525;
    margin-bottom: 5px;
    font-size: 1rem;
}

.card p:last-of-type {
    font-weight: bold;
    color: #10181d;
    font-size: 1.1rem;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
}

/* Contêiner dos botões de categoria */
.category-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    padding: 30px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Estilo individual do botão de categoria */
.category-button {
    background-color: #FDF2FF;
    border-radius: 12px;
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    flex-basis: calc(33.33% - 13.33px);
    max-width: calc(33.33% - 13.33px);
    min-width: unset;
}

.category-button:hover {
    background-color: #F2D7FF;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category-button .button-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-right: 20px;
    margin-bottom: 0px;
}

.category-button p {
    color: #a582ae;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.2;
    white-space: nowrap;
}

/* Media Queries para ajustar o layout dos botões em telas menores */
@media screen and (max-width: 900px) {
    .category-buttons-container {
        gap: 15px;
    }

    .category-button {
        flex-basis: calc(50% - 7.5px); 
        max-width: calc(50% - 7.5px);
        padding: 15px 20px;
        min-width: unset;
    }

    .category-button .button-icon {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    .category-button p {
        font-size: 1.1rem;
    }
}

.container {
    max-width: 100%; /* Permite que o contêiner ocupe 100% da largura */
    padding-left: 0;  /* Remove o padding padrão do Bootstrap nas laterais */
    padding-right: 0; /* Remove o padding padrão do Bootstrap nas laterais */
}

@media screen and (max-width: 550px) {
    .category-buttons-container {
        padding: 20px 10px;
        gap: 10px;
    }
    .category-button {
        flex-basis: calc(100% - 20px);
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 20px;
    }
    .category-button .button-icon {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .category-button p {
        font-size: 1rem;
    }
}

/* Responsividade da Vitrine para telas menores */
@media screen and (max-width: 703px) {
    .vitrine {
        gap: 15px;
        justify-content: center;
    }

    .card {
        width: 160px;
    }
}